.footer {
  padding: 32px 0;
  position: relative;
  background-image: url(../images/footer-background.png);
  background-color: var(--color-primaty-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
  }

  &::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../images/decor-bread-small.png);
  }

  &::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../images/decor-bread-large.png);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-info,
  &__address-list {
    flex-grow: 1;
  }

  &__address-link {
    color: var(--color-primaty-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: var(--color-brand);
    }
  }

  &__address-icon {
    fill: var(--color-primaty-light);

    &:hover {
      fill: var(--color-brand);
    }
  }

  &__address-copyright {
    color: var(--color-primaty-light);
    font-size: 14px;
    &:hover {
      color: var(--color-brand);
    }
  }
}
